{{#each-in details as |owner result|}}
    {{#if (gt result.groupObjects.length 0)}}
        <div class="mb-2">
            <a class="p-action" {{on "click" (action "toggleGroup" owner)}}>
                {{owner}} ({{result.groupObjects.length}})
                {{#if result.collapsed}}
                    {{fa-icon icon="chevron-up"}}
                {{else}}
                    {{fa-icon icon="chevron-down"}}
                {{/if}}
            </a>
        </div>
        {{#unless result.collapsed}}
            {{#each result.groupObjects as |object|}}
                <div class="mb-2 item">
                    <div>
                        <a class="p-link" href="{{object.webLink}}">{{object.name}} {{fa-icon icon="external-link-square" class="external-link-icon" fixedWidth=true}}</a>
                    </div>
                    <div>
                        <span class="p-key">Type: </span>
                        <span class="p-value">{{object.type}}</span>
                    </div>
                    <div>
                        <span class="p-key">Date Added: </span>
                        <span class="p-value">{{object.dateAdded}}</span>
                    </div>
                </div>
            {{/each}}
        {{/unless}}
    {{/if}}
{{/each-in}}